YF_DATA_SAMPLE/
YF_DATA_SAMPLE_V2/.Xil/
YF_DATA_SAMPLE_V2/bit/
YF_DATA_SAMPLE_V2/YF_DATA_SAMPLE_V2.cache/
YF_DATA_SAMPLE_V2/YF_DATA_SAMPLE_V2.hw/
YF_DATA_SAMPLE_V2/YF_DATA_SAMPLE_V2.runs/
YF_DATA_SAMPLE_V2/YF_DATA_SAMPLE_V2.ip_user_files/
YF_DATA_SAMPLE_V2/YF_DATA_SAMPLE_V2.sim/
YF_DATA_SAMPLE_V2/YF_DATA_SAMPLE_V2.xpr
YF_DATA_SAMPLE_V2/*.jou
YF_DATA_SAMPLE_V2/*.log
YF_DATA_SAMPLE_V2/*.str
YF_DATA_SAMPLE_V2/*.btree